# Godot 4+ specific ignores
.godot/
# exclude qol addons
addons/*
!addons/local_assets

# not needed
Assets/*
# exclude binaries
addons/local_assets/bin/*
!addons/local_assets/bin/AssetManager.gdextension
# commit tracker (i should realy start making smaller commits lol)
COMMIT_MESSAGE.txt

#vscode settings
.vscode/*